In [1]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sqlalchemy

In [2]:
msft = yf.Ticker("MSFT")

In [3]:
df = msft.history(period='max')
df = df.reset_index()
df

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,1986-03-13 00:00:00-05:00,0.054594,0.062623,0.054594,0.059946,1031788800,0.0,0.0
1,1986-03-14 00:00:00-05:00,0.059946,0.063158,0.059946,0.062087,308160000,0.0,0.0
2,1986-03-17 00:00:00-05:00,0.062087,0.063694,0.062087,0.063158,133171200,0.0,0.0
3,1986-03-18 00:00:00-05:00,0.063158,0.063694,0.061017,0.061552,67766400,0.0,0.0
4,1986-03-19 00:00:00-05:00,0.061552,0.062087,0.059946,0.060482,47894400,0.0,0.0
...,...,...,...,...,...,...,...,...
9729,2024-10-21 00:00:00-04:00,416.119995,418.959991,413.750000,418.779999,14206100,0.0,0.0
9730,2024-10-22 00:00:00-04:00,418.489990,430.579987,418.040009,427.510010,25482200,0.0,0.0
9731,2024-10-23 00:00:00-04:00,430.859985,431.079987,422.529999,424.600006,19654400,0.0,0.0
9732,2024-10-24 00:00:00-04:00,425.329987,425.980011,422.399994,424.730011,13562400,0.0,0.0
9733,2024-10-25 00:00:00-04:00,426.899994,432.500000,426.600006,428.660004,11121998,0.0,0.0

In [4]:
df['company_id'] = 1
df

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,company_id
0,1986-03-13 00:00:00-05:00,0.054594,0.062623,0.054594,0.059946,1031788800,0.0,0.0,1
1,1986-03-14 00:00:00-05:00,0.059946,0.063158,0.059946,0.062087,308160000,0.0,0.0,1
2,1986-03-17 00:00:00-05:00,0.062087,0.063694,0.062087,0.063158,133171200,0.0,0.0,1
3,1986-03-18 00:00:00-05:00,0.063158,0.063694,0.061017,0.061552,67766400,0.0,0.0,1
4,1986-03-19 00:00:00-05:00,0.061552,0.062087,0.059946,0.060482,47894400,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...
9729,2024-10-21 00:00:00-04:00,416.119995,418.959991,413.750000,418.779999,14206100,0.0,0.0,1
9730,2024-10-22 00:00:00-04:00,418.489990,430.579987,418.040009,427.510010,25482200,0.0,0.0,1
9731,2024-10-23 00:00:00-04:00,430.859985,431.079987,422.529999,424.600006,19654400,0.0,0.0,1
9732,2024-10-24 00:00:00-04:00,425.329987,425.980011,422.399994,424.730011,13562400,0.0,0.0,1
9733,2024-10-25 00:00:00-04:00,426.899994,432.500000,426.600006,428.660004,11121998,0.0,0.0,1

In [5]:
olhc_dict = {
    'date':df['Date'],
    'close':df['Close'],
    'open':df['Open'],
    'low':df['Low'],
    'high':df['High'],
    'volume':df['Volume']
}
olhc_dict

{'date': 0      1986-03-13 00:00:00-05:00
 1      1986-03-14 00:00:00-05:00
 2      1986-03-17 00:00:00-05:00
 3      1986-03-18 00:00:00-05:00
 4      1986-03-19 00:00:00-05:00
                   ...
 9729   2024-10-21 00:00:00-04:00
 9730   2024-10-22 00:00:00-04:00
 9731   2024-10-23 00:00:00-04:00
 9732   2024-10-24 00:00:00-04:00
 9733   2024-10-25 00:00:00-04:00
 Name: Date, Length: 9734, dtype: datetime64[ns, America/New_York],
 'close': 0         0.059946
 1         0.062087
 2         0.063158
 3         0.061552
 4         0.060482
            ...
 9729    418.779999
 9730    427.510010
 9731    424.600006
 9732    424.730011
 9733    428.660004
 Name: Close, Length: 9734, dtype: float64,
 'open': 0         0.054594
 1         0.059946
 2         0.062087
 3         0.063158
 4         0.061552
            ...
 9729    416.119995
 9730    418.489990
 9731    430.859985
 9732    425.329987
 9733    426.899994
 Name: Open, Length: 9734, dtype: float64,
 'low': 0         0.054594
 1         0.059946
 2         0.062087
 3         0.061017
 4         0.059946
            ...
 9729    413.750000
 9730    418.040009
 9731    422.529999
 9732    422.399994
 9733    426.600006
 Name: Low, Length: 9734, dtype: float64,
 'high': 0         0.062623
 1         0.063158
 2         0.063694
 3         0.063694
 4         0.062087
            ...
 9729    418.959991
 9730    430.579987
 9731    431.079987
 9732    425.980011
 9733    432.500000
 Name: High, Length: 9734, dtype: float64,
 'volume': 0       1031788800
 1        308160000
 2        133171200
 3         67766400
 4         47894400
            ...
 9729      14206100
 9730      25482200
 9731      19654400
 9732      13562400
 9733      11121998
 Name: Volume, Length: 9734, dtype: int64}

In [6]:
olhc_df = pd.DataFrame(olhc_dict)
olhc_df = olhc_df.dropna()
olhc_df

,date,close,open,low,high,volume
0,1986-03-13 00:00:00-05:00,0.059946,0.054594,0.054594,0.062623,1031788800
1,1986-03-14 00:00:00-05:00,0.062087,0.059946,0.059946,0.063158,308160000
2,1986-03-17 00:00:00-05:00,0.063158,0.062087,0.062087,0.063694,133171200
3,1986-03-18 00:00:00-05:00,0.061552,0.063158,0.061017,0.063694,67766400
4,1986-03-19 00:00:00-05:00,0.060482,0.061552,0.059946,0.062087,47894400
...,...,...,...,...,...,...
9729,2024-10-21 00:00:00-04:00,418.779999,416.119995,413.750000,418.959991,14206100
9730,2024-10-22 00:00:00-04:00,427.510010,418.489990,418.040009,430.579987,25482200
9731,2024-10-23 00:00:00-04:00,424.600006,430.859985,422.529999,431.079987,19654400
9732,2024-10-24 00:00:00-04:00,424.730011,425.329987,422.399994,425.980011,13562400
9733,2024-10-25 00:00:00-04:00,428.660004,426.899994,426.600006,432.500000,11121998

In [7]:
msft.actions

                           Dividends  Stock Splits
Date
1987-09-21 00:00:00-04:00       0.00           2.0
1990-04-16 00:00:00-04:00       0.00           2.0
1991-06-27 00:00:00-04:00       0.00           1.5
1992-06-15 00:00:00-04:00       0.00           1.5
1994-05-23 00:00:00-04:00       0.00           2.0
...                              ...           ...
2023-08-16 00:00:00-04:00       0.68           0.0
2023-11-15 00:00:00-05:00       0.75           0.0
2024-02-14 00:00:00-05:00       0.75           0.0
2024-05-15 00:00:00-04:00       0.75           0.0
2024-08-15 00:00:00-04:00       0.75           0.0

[92 rows x 2 columns]

In [8]:
msft.dividends

Date
2003-02-19 00:00:00-05:00    0.08
2003-10-15 00:00:00-04:00    0.16
2004-08-23 00:00:00-04:00    0.08
2004-11-15 00:00:00-05:00    3.08
2005-02-15 00:00:00-05:00    0.08
                             ...
2023-08-16 00:00:00-04:00    0.68
2023-11-15 00:00:00-05:00    0.75
2024-02-14 00:00:00-05:00    0.75
2024-05-15 00:00:00-04:00    0.75
2024-08-15 00:00:00-04:00    0.75
Name: Dividends, Length: 83, dtype: float64

In [9]:
msft.splits

Date
1987-09-21 00:00:00-04:00    2.0
1990-04-16 00:00:00-04:00    2.0
1991-06-27 00:00:00-04:00    1.5
1992-06-15 00:00:00-04:00    1.5
1994-05-23 00:00:00-04:00    2.0
1996-12-09 00:00:00-05:00    2.0
1998-02-23 00:00:00-05:00    2.0
1999-03-29 00:00:00-05:00    2.0
2003-02-18 00:00:00-05:00    2.0
Name: Stock Splits, dtype: float64

In [10]:
msft.analyst_price_targets

{'current': 428.66,
 'low': 440.0,
 'high': 600.0,
 'mean': 495.91,
 'median': 500.0}

In [24]:
msft.get_balance_sheet(freq='quarterly')

,2024-06-30,2024-03-31,2023-12-31,2023-09-30,2023-06-30,2023-03-31
OrdinarySharesNumber,7434000000.0,7432305794.0,7431612107.0,7431000000.0,7432000000.0,NaN
ShareIssued,7434000000.0,7432305794.0,7431612107.0,7431000000.0,7432000000.0,NaN
NetDebt,33315000000.0,45808000000.0,56914000000.0,NaN,12533000000.0,21648000000.0
TotalDebt,67127000000.0,79911000000.0,88374000000.0,84989000000.0,59965000000.0,NaN
TangibleBookValue,121660000000.0,105161000000.0,89441000000.0,144029000000.0,128971000000.0,NaN
...,...,...,...,...,...,...
CashCashEquivalentsAndShortTermInvestments,75531000000.0,80013000000.0,80982000000.0,143945000000.0,111256000000.0,NaN
OtherShortTermInvestments,57216000000.0,60379000000.0,63677000000.0,63493000000.0,76552000000.0,NaN
CashAndCashEquivalents,18315000000.0,19634000000.0,17305000000.0,80452000000.0,34704000000.0,NaN
CashEquivalents,6744000000.0,8053000000.0,7769000000.0,73074000000.0,26226000000.0,NaN
CashFinancial,11571000000.0,11581000000.0,9536000000.0,7378000000.0,8478000000.0,NaN

In [12]:
msft.calendar

{'Dividend Date': datetime.date(2024, 12, 12),
 'Ex-Dividend Date': datetime.date(2024, 11, 21),
 'Earnings Date': [datetime.date(2024, 10, 30)],
 'Earnings High': 3.17,
 'Earnings Low': 2.96,
 'Earnings Average': 3.09,
 'Revenue High': 65196500000,
 'Revenue Low': 64221700000,
 'Revenue Average': 64488600000}

In [13]:
msft.cash_flow

,2024-06-30,2023-06-30,2022-06-30,2021-06-30,2020-06-30
Free Cash Flow,74071000000.0,59475000000.0,65149000000.0,56118000000.0,NaN
Repurchase Of Capital Stock,-17254000000.0,-22245000000.0,-32696000000.0,-27385000000.0,NaN
Repayment Of Debt,-29070000000.0,-2750000000.0,-9023000000.0,-3750000000.0,NaN
Issuance Of Debt,29645000000.0,0.0,0.0,NaN,0.0
Issuance Of Capital Stock,2002000000.0,1866000000.0,1841000000.0,1693000000.0,NaN
Capital Expenditure,-44477000000.0,-28107000000.0,-23886000000.0,-20622000000.0,NaN
End Cash Position,18315000000.0,34704000000.0,13931000000.0,14224000000.0,NaN
Beginning Cash Position,34704000000.0,13931000000.0,14224000000.0,13576000000.0,NaN
Effect Of Exchange Rate Changes,-210000000.0,-194000000.0,-141000000.0,-29000000.0,NaN
Changes In Cash,-16179000000.0,20967000000.0,-152000000.0,677000000.0,NaN
Financing Cash Flow,-37757000000.0,-43935000000.0,-58876000000.0,-48486000000.0,NaN
Cash Flow From Continuing Financing Activities,-37757000000.0,-43935000000.0,-58876000000.0,-48486000000.0,NaN
Net Other Financing Charges,-1309000000.0,-1006000000.0,-863000000.0,-2523000000.0,NaN
Cash Dividends Paid,-21771000000.0,-19800000000.0,-18135000000.0,-16521000000.0,NaN
Common Stock Dividend Paid,-21771000000.0,-19800000000.0,-18135000000.0,-16521000000.0,NaN
Net Common Stock Issuance,-15252000000.0,-20379000000.0,-30855000000.0,-25692000000.0,NaN
Common Stock Payments,-17254000000.0,-22245000000.0,-32696000000.0,-27385000000.0,NaN
Common Stock Issuance,2002000000.0,1866000000.0,1841000000.0,1693000000.0,NaN
Net Issuance Payments Of Debt,575000000.0,-2750000000.0,-9023000000.0,-3750000000.0,NaN
Net Short Term Debt Issuance,5250000000.0,0.0,0.0,NaN,0.0
Short Term Debt Issuance,5250000000.0,0.0,0.0,NaN,NaN
Net Long Term Debt Issuance,-4675000000.0,-2750000000.0,-9023000000.0,-3750000000.0,NaN
Long Term Debt Payments,-29070000000.0,-2750000000.0,-9023000000.0,-3750000000.0,NaN
Long Term Debt Issuance,24395000000.0,0.0,0.0,NaN,0.0
Investing Cash Flow,-96970000000.0,-22680000000.0,-30311000000.0,-27577000000.0,NaN
Cash Flow From Continuing Investing Activities,-96970000000.0,-22680000000.0,-30311000000.0,-27577000000.0,NaN
Net Other Investing Changes,-1298000000.0,-3116000000.0,-2825000000.0,-922000000.0,NaN
Net Investment Purchase And Sale,17937000000.0,10213000000.0,18438000000.0,2876000000.0,NaN
Sale Of Investment,35669000000.0,47864000000.0,44894000000.0,65800000000.0,NaN
Purchase Of Investment,-17732000000.0,-37651000000.0,-26456000000.0,-62924000000.0,NaN
Net Business Purchase And Sale,-69132000000.0,-1670000000.0,-22038000000.0,-8909000000.0,NaN
Purchase Of Business,-69132000000.0,-1670000000.0,-22038000000.0,-8909000000.0,NaN
Net PPE Purchase And Sale,-44477000000.0,-28107000000.0,-23886000000.0,-20622000000.0,NaN
Purchase Of PPE,-44477000000.0,-28107000000.0,-23886000000.0,-20622000000.0,NaN
Operating Cash Flow,118548000000.0,87582000000.0,89035000000.0,76740000000.0,NaN
Cash Flow From Continuing Operating Activities,118548000000.0,87582000000.0,89035000000.0,76740000000.0,NaN
Change In Working Capital,1824000000.0,-2388000000.0,446000000.0,-936000000.0,NaN
Change In Other Working Capital,5348000000.0,5535000000.0,5805000000.0,2324000000.0,NaN
Change In Other Current Liabilities,5616000000.0,2825000000.0,3169000000.0,5551000000.0,NaN
Change In Other Current Assets,-8465000000.0,-4824000000.0,-3514000000.0,-4391000000.0,NaN
Change In Payables And Accrued Expense,5232000000.0,-3079000000.0,2943000000.0,2798000000.0,NaN
Change In Payable,5232000000.0,-3079000000.0,2943000000.0,2798000000.0,NaN
Change In Account Payable,3545000000.0,-2721000000.0,2943000000.0,2798000000.0,NaN
Change In Tax Payable,1687000000.0,-358000000.0,NaN,NaN,NaN
Change In Income Tax Payable,1687000000.0,-358000000.0,NaN,NaN,NaN
Change In Inventory,1284000000.0,1242000000.0,-1123000000.0,-737000000.0,NaN
Change In Receivables,-7191000000.0,-4087000000.0,-6834000000.0,-6481000000.0,NaN
Changes In Account Receivables,-7191000000.0,-4087000000.0,-6834000000.0,-6481000000.0,NaN
Stock Based Compensation,10734000000.0,9611000000.0,7502000000.0,6118000000.0,NaN
Deferred Tax,-4738000000.0,-6059000000.0,-5702000000.0,-150000000.0,NaN
Deferred Income Tax,-4738000000.0,-6059000000.0,-5702000000.0,-150000000.0,NaN
Depreciation Amortization Depletion,22287000000.0,13861000000.0,14460000000.0,11686000000.0,NaN
Depreciation And Amortization,22287000000.0,13861000000.0,14460000000.0,11686000000.0,NaN
Depreciation,22287000000.0,13861000000.0,14460000000.0,11686000000.0,NaN
Operating Gains Losses,305000000.0,196000000.0,-409000000.0,-1249000000.0,NaN
Gain Loss On Investment Securities,NaN,NaN,NaN,NaN,-219000000.0
Net Income From Continuing Operations,88136000000.0,72361000000.0,72738000000.0,61271000000.0,NaN

In [14]:
msft.income_stmt

,2024-06-30,2023-06-30,2022-06-30,2021-06-30
Tax Effect Of Unusual Items,-99918000.0,-2850000.0,43754000.0,180160797.164637
Tax Rate For Calcs,0.182,0.19,0.131,0.138266
Normalized EBITDA,133558000000.0,105155000000.0,99905000000.0,83831000000.0
Total Unusual Items,-549000000.0,-15000000.0,334000000.0,1303000000.0
Total Unusual Items Excluding Goodwill,-549000000.0,-15000000.0,334000000.0,1303000000.0
Net Income From Continuing Operation Net Minority Interest,88136000000.0,72361000000.0,72738000000.0,61271000000.0
Reconciled Depreciation,22287000000.0,13861000000.0,14460000000.0,11686000000.0
Reconciled Cost Of Revenue,74114000000.0,65863000000.0,62650000000.0,52232000000.0
EBITDA,133009000000.0,105140000000.0,100239000000.0,85134000000.0
EBIT,110722000000.0,91279000000.0,85779000000.0,73448000000.0
Net Interest Income,222000000.0,1026000000.0,31000000.0,-215000000.0
Interest Expense,2935000000.0,1968000000.0,2063000000.0,2346000000.0
Interest Income,3157000000.0,2994000000.0,2094000000.0,2131000000.0
Normalized Income,88585082000.0,72373150000.0,72447754000.0,60148160797.164635
Net Income From Continuing And Discontinued Operation,88136000000.0,72361000000.0,72738000000.0,61271000000.0
Total Expenses,135689000000.0,123392000000.0,114887000000.0,98172000000.0
Total Operating Income As Reported,109433000000.0,88523000000.0,83383000000.0,69916000000.0
Diluted Average Shares,7469000000.0,7472000000.0,7540000000.0,7608000000.0
Basic Average Shares,7431000000.0,7446000000.0,7496000000.0,7547000000.0
Diluted EPS,11.8,9.68,9.65,8.05
Basic EPS,11.86,9.72,9.7,8.12
Diluted NI Availto Com Stockholders,88136000000.0,72361000000.0,72738000000.0,61271000000.0
Net Income Common Stockholders,88136000000.0,72361000000.0,72738000000.0,61271000000.0
Net Income,88136000000.0,72361000000.0,72738000000.0,61271000000.0
Net Income Including Noncontrolling Interests,88136000000.0,72361000000.0,72738000000.0,61271000000.0
Net Income Continuous Operations,88136000000.0,72361000000.0,72738000000.0,61271000000.0
Tax Provision,19651000000.0,16950000000.0,10978000000.0,9831000000.0
Pretax Income,107787000000.0,89311000000.0,83716000000.0,71102000000.0
Other Income Expense,-1868000000.0,-238000000.0,302000000.0,1401000000.0
Other Non Operating Income Expenses,-1319000000.0,-223000000.0,-32000000.0,98000000.0
Special Income Charges,-206000000.0,-30000000.0,-101000000.0,-13000000.0
Write Off,206000000.0,30000000.0,101000000.0,13000000.0
Gain On Sale Of Security,-343000000.0,15000000.0,435000000.0,1316000000.0
Net Non Operating Interest Income Expense,222000000.0,1026000000.0,31000000.0,-215000000.0
Interest Expense Non Operating,2935000000.0,1968000000.0,2063000000.0,2346000000.0
Interest Income Non Operating,3157000000.0,2994000000.0,2094000000.0,2131000000.0
Operating Income,109433000000.0,88523000000.0,83383000000.0,69916000000.0
Operating Expense,61575000000.0,57529000000.0,52237000000.0,45940000000.0
Research And Development,29510000000.0,27195000000.0,24512000000.0,20716000000.0
Selling General And Administration,32065000000.0,30334000000.0,27725000000.0,25224000000.0
Selling And Marketing Expense,24456000000.0,22759000000.0,21825000000.0,20117000000.0
General And Administrative Expense,7609000000.0,7575000000.0,5900000000.0,5107000000.0
Other Gand A,7609000000.0,7575000000.0,5900000000.0,5107000000.0
Gross Profit,171008000000.0,146052000000.0,135620000000.0,115856000000.0
Cost Of Revenue,74114000000.0,65863000000.0,62650000000.0,52232000000.0
Total Revenue,245122000000.0,211915000000.0,198270000000.0,168088000000.0
Operating Revenue,245122000000.0,211915000000.0,198270000000.0,168088000000.0

In [15]:
msft.quarterly_incomestmt

,2024-06-30,2024-03-31,2023-12-31,2023-09-30,2023-06-30,2023-03-31
Tax Effect Of Unusual Items,-16263853.211009,-33660000.0,-29160000.0,-20700000.0,20855987.382214,NaN
Tax Rate For Calcs,0.191339,0.18,0.18,0.18,0.187892,NaN
Normalized EBITDA,34416000000.0,33741000000.0,33556000000.0,31845000000.0,28972000000.0,NaN
Total Unusual Items,-85000000.0,-187000000.0,-162000000.0,-115000000.0,111000000.0,NaN
Total Unusual Items Excluding Goodwill,-85000000.0,-187000000.0,-162000000.0,-115000000.0,111000000.0,NaN
Net Income From Continuing Operation Net Minority Interest,22036000000.0,21939000000.0,21870000000.0,22291000000.0,20081000000.0,NaN
Reconciled Depreciation,6380000000.0,6027000000.0,5959000000.0,3921000000.0,3874000000.0,NaN
Reconciled Cost Of Revenue,19684000000.0,18505000000.0,19623000000.0,16302000000.0,16795000000.0,NaN
EBITDA,34331000000.0,33554000000.0,33394000000.0,31730000000.0,29083000000.0,NaN
EBIT,27951000000.0,27527000000.0,27435000000.0,27809000000.0,25209000000.0,NaN
Net Interest Income,-63000000.0,-181000000.0,-175000000.0,641000000.0,423000000.0,NaN
Interest Expense,701000000.0,800000000.0,909000000.0,525000000.0,482000000.0,NaN
Interest Income,638000000.0,619000000.0,734000000.0,1166000000.0,905000000.0,NaN
Normalized Income,22104736146.78899,22092340000.0,22002840000.0,22385300000.0,19990855987.382214,NaN
Net Income From Continuing And Discontinued Operation,22036000000.0,21939000000.0,21870000000.0,22291000000.0,20081000000.0,NaN
Total Expenses,36802000000.0,34277000000.0,34988000000.0,29622000000.0,31935000000.0,NaN
Total Operating Income As Reported,27925000000.0,27581000000.0,27032000000.0,26895000000.0,24254000000.0,NaN
Diluted Average Shares,7472000000.0,7472000000.0,7468000000.0,7462000000.0,7467000000.0,NaN
Basic Average Shares,7433000000.0,7431000000.0,7432000000.0,7429000000.0,7434000000.0,NaN
Diluted EPS,2.95,2.94,2.93,2.99,2.69,NaN
Basic EPS,2.96,2.95,2.94,3.0,2.7,NaN
Diluted NI Availto Com Stockholders,22036000000.0,21939000000.0,21870000000.0,22291000000.0,20081000000.0,NaN
Net Income Common Stockholders,22036000000.0,21939000000.0,21870000000.0,22291000000.0,20081000000.0,NaN
Net Income,22036000000.0,21939000000.0,21870000000.0,22291000000.0,20081000000.0,NaN
Net Income Including Noncontrolling Interests,22036000000.0,21939000000.0,21870000000.0,22291000000.0,20081000000.0,NaN
Net Income Continuous Operations,22036000000.0,21939000000.0,21870000000.0,22291000000.0,20081000000.0,NaN
Tax Provision,5214000000.0,4788000000.0,4656000000.0,4993000000.0,4646000000.0,NaN
Pretax Income,27250000000.0,26727000000.0,26526000000.0,27284000000.0,24727000000.0,NaN
Other Income Expense,-612000000.0,-673000000.0,-331000000.0,-252000000.0,50000000.0,NaN
Other Non Operating Income Expenses,-527000000.0,-486000000.0,-169000000.0,-137000000.0,-61000000.0,NaN
Special Income Charges,-22000000.0,-17000000.0,-161000000.0,NaN,NaN,0.0
Write Off,22000000.0,17000000.0,161000000.0,NaN,NaN,0.0
Gain On Sale Of Security,-63000000.0,-170000000.0,-1000000.0,-115000000.0,141000000.0,NaN
Net Non Operating Interest Income Expense,-63000000.0,-181000000.0,-175000000.0,641000000.0,423000000.0,NaN
Interest Expense Non Operating,701000000.0,800000000.0,909000000.0,525000000.0,482000000.0,NaN
Interest Income Non Operating,638000000.0,619000000.0,734000000.0,1166000000.0,905000000.0,NaN
Operating Income,27925000000.0,27581000000.0,27032000000.0,26895000000.0,24254000000.0,NaN
Operating Expense,17118000000.0,15772000000.0,15365000000.0,13320000000.0,15140000000.0,NaN
Research And Development,8056000000.0,7653000000.0,7142000000.0,6659000000.0,6739000000.0,NaN
Selling General And Administration,9062000000.0,8119000000.0,8223000000.0,6661000000.0,8401000000.0,NaN
Selling And Marketing Expense,6816000000.0,6207000000.0,6246000000.0,5187000000.0,6204000000.0,NaN
General And Administrative Expense,2246000000.0,1912000000.0,1977000000.0,1474000000.0,2197000000.0,NaN
Other Gand A,2246000000.0,1912000000.0,1977000000.0,1474000000.0,2197000000.0,NaN
Gross Profit,45043000000.0,43353000000.0,42397000000.0,40215000000.0,39394000000.0,NaN
Cost Of Revenue,19684000000.0,18505000000.0,19623000000.0,16302000000.0,16795000000.0,NaN
Total Revenue,64727000000.0,61858000000.0,62020000000.0,56517000000.0,56189000000.0,NaN
Operating Revenue,64727000000.0,61858000000.0,62020000000.0,56517000000.0,56189000000.0,NaN

In [16]:
msft.history_metadata

{'currency': 'USD',
 'symbol': 'MSFT',
 'exchangeName': 'NMS',
 'fullExchangeName': 'NasdaqGS',
 'instrumentType': 'EQUITY',
 'firstTradeDate': 511108200,
 'regularMarketTime': 1729883444,
 'hasPrePostMarketData': True,
 'gmtoffset': -14400,
 'timezone': 'EDT',
 'exchangeTimezoneName': 'America/New_York',
 'regularMarketPrice': 428.66,
 'fiftyTwoWeekHigh': 432.5,
 'fiftyTwoWeekLow': 426.6,
 'regularMarketDayHigh': 432.5,
 'regularMarketDayLow': 426.6,
 'regularMarketVolume': 11121998,
 'longName': 'Microsoft Corporation',
 'shortName': 'Microsoft Corporation',
 'chartPreviousClose': 0.097,
 'priceHint': 2,
 'currentTradingPeriod': {'pre': {'timezone': 'EDT',
   'start': 1729843200,
   'end': 1729863000,
   'gmtoffset': -14400},
  'regular': {'timezone': 'EDT',
   'start': 1729863000,
   'end': 1729886400,
   'gmtoffset': -14400},
  'post': {'timezone': 'EDT',
   'start': 1729886400,
   'end': 1729900800,
   'gmtoffset': -14400}},
 'dataGranularity': '1d',
 'range': '',
 'validRanges': ['1d',
  '5d',
  '1mo',
  '3mo',
  '6mo',
  '1y',
  '2y',
  '5y',
  '10y',
  'ytd',
  'max']}

In [17]:
msft.sustainability

                                                                           esgScores
maxAge                                                                         86400
totalEsg                                                                       14.23
environmentScore                                                                1.65
socialScore                                                                     7.62
governanceScore                                                                 4.96
ratingYear                                                                      2024
ratingMonth                                                                       10
highestControversy                                                               3.0
peerCount                                                                        214
esgPerformance                                                              LAG_PERF
peerGroup                                                        Software & Services
relatedControversy                                              [Customer Incidents]
peerEsgScorePerformance            {'min': 11.43, 'avg': 21.48289719626167, 'max'...
peerGovernancePerformance          {'min': 3.45, 'avg': 6.047160493827162, 'max':...
peerSocialPerformance              {'min': 4.89, 'avg': 9.712592592592593, 'max':...
peerEnvironmentPerformance         {'min': 0.31, 'avg': 2.80037037037037, 'max': ...
peerHighestControversyPerformance  {'min': 0.0, 'avg': 0.7476635514018691, 'max':...
percentile                                                                      None
environmentPercentile                                                           None
socialPercentile                                                                None
governancePercentile                                                            None
adult                                                                          False
alcoholic                                                                      False
animalTesting                                                                  False
catholic                                                                        None
controversialWeapons                                                           False
smallArms                                                                      False
furLeather                                                                     False
gambling                                                                       False
gmo                                                                            False
militaryContract                                                               False
nuclear                                                                        False
pesticides                                                                     False
palmOil                                                                        False
coal                                                                           False
tobacco                                                                        False

In [18]:
hist = msft.history(period="max")

In [19]:
hist.loc[: ,"Open":"Volume"]

,Open,High,Low,Close,Volume
Date,,,,,
1986-03-13 00:00:00-05:00,0.054594,0.062623,0.054594,0.059946,1031788800
1986-03-14 00:00:00-05:00,0.059946,0.063158,0.059946,0.062087,308160000
1986-03-17 00:00:00-05:00,0.062087,0.063694,0.062087,0.063158,133171200
1986-03-18 00:00:00-05:00,0.063158,0.063694,0.061017,0.061552,67766400
1986-03-19 00:00:00-05:00,0.061552,0.062087,0.059946,0.060482,47894400
...,...,...,...,...,...
2024-10-18 00:00:00-04:00,417.140015,419.649994,416.260010,418.160004,17145300
2024-10-21 00:00:00-04:00,416.119995,418.959991,413.750000,418.779999,14206100
2024-10-22 00:00:00-04:00,418.489990,430.579987,418.040009,427.510010,25482200
2024-10-23 00:00:00-04:00,430.859985,431.079987,422.529999,424.600006,19654400
2024-10-24 00:00:00-04:00,425.329987,425.980011,422.399994,424.730011,13562400

In [20]:
msft.news

[{'uuid': 'f64f92ee-04f5-36b3-934d-7483425d6bc1',
  'title': "Microsoft Stock Up Again This Week, Rallies Off This Key Technical Level; Why It's A Buy Now",
  'publisher': "Investor's Business Daily",
  'link': 'https://finance.yahoo.com/m/f64f92ee-04f5-36b3-934d-7483425d6bc1/microsoft-stock-up-again-this.html',
  'providerPublishTime': 1729881187,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/QmSpjx83DZgpbs4rzv5gjA--~B/aD01MzM7dz05NDU7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/ibd.com/c7287f399c9b8de42ad01096490afe7b',
     'width': 945,
     'height': 533,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/8pX0Doh9DaBQok5ETzlCHA--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/ibd.com/c7287f399c9b8de42ad01096490afe7b',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['MSFT']},
 {'uuid': 'b491d769-e0d0-345e-b9bf-4cf4a977507d',
  'title': 'Five Stocks, 3 Days, $12 Trillion In Market Cap. Buckle Up For Huge Earnings.',
  'publisher': "Investor's Business Daily",
  'link': 'https://finance.yahoo.com/m/b491d769-e0d0-345e-b9bf-4cf4a977507d/five-stocks%2C-3-days%2C-%2412.html',
  'providerPublishTime': 1729881032,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/k8gLMwvxwVIDBNWg_Azf2Q--~B/aD01NzI7dz0xMDEyO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/ibd.com/ec8365e261a0dfa9375d79fafac86ffa',
     'width': 1012,
     'height': 572,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/7n_096I_vn5AR..gafSJ1A--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/ibd.com/ec8365e261a0dfa9375d79fafac86ffa',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['NVDA', 'AAPL', 'AMZN', 'META', 'MSFT', 'GOOG']},
 {'uuid': 'daebf95a-55b8-3fb6-a1ae-8695ef0424b6',
  'title': 'CureDuchenne Partners with Blizzard Entertainment and World of Warcraft for Limited-Time Charity Pet Program',
  'publisher': 'PR Newswire',
  'link': 'https://finance.yahoo.com/news/cureduchenne-partners-blizzard-entertainment-world-182100364.html',
  'providerPublishTime': 1729880460,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/wgZ2Okhqf6D6ZHxQMNMl3g--~B/aD0yMjU7dz00MDA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/prnewswire.com/e9c29edcceac5023b46f398bbd7b3162',
     'width': 400,
     'height': 225,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/cPcX0mmoEsR6LdiS8dKstw--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/prnewswire.com/e9c29edcceac5023b46f398bbd7b3162',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['MSFT']},
 {'uuid': '60c6d21f-deb9-3b57-a418-e463173354dd',
  'title': "Market Chatter: OpenAI Denies Report of Release of AI Model 'Orion' This Year",
  'publisher': 'MT Newswires',
  'link': 'https://finance.yahoo.com/news/market-chatter-openai-denies-report-182010607.html',
  'providerPublishTime': 1729880410,
  'type': 'STORY',
  'relatedTickers': ['MSFT']},
 {'uuid': 'f2b81b39-50d8-32b9-9fbe-ebf86ebbf1ab',
  'title': 'Magnificent 7 earnings: Catalysts examines what to expect from Big Tech',
  'publisher': 'Yahoo Finance Video',
  'link': 'https://finance.yahoo.com/video/magnificent-7-earnings-catalysts-examines-170035024.html',
  'providerPublishTime': 1729875635,
  'type': 'VIDEO',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/LVIa77t4HxXvjL8phDJNkQ--~B/aD0xMDgwO3c9MTkyMDthcHBpZD15dGFjaHlvbg--/https://s.yimg.com/os/creatr-uploaded-images/2024-10/5635f330-92ef-11ef-bca1-c36203b05d1a',
     'width': 1920,
     'height': 1080,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/6Tk7iuPOhq64rMIytDevdQ--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://s.yimg.com/os/creatr-uploaded-images/2024-10/5635f330-92ef-11ef-bca1-c36203b05d1a',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['GOOG', 'AAPL', 'AMZN', 'MSFT', 'NVDA', 'META', 'TSLA']},
 {'uuid': '0a6aba8e-379e-371f-b7dc-06d47ee1ea51',
  'title': "Big Tech stocks are the 'new defensives': Nancy Tengler",
  'publisher': 'Yahoo Finance Video',
  'link': 'https://finance.yahoo.com/video/big-tech-stocks-defensives-nancy-163037659.html',
  'providerPublishTime': 1729873837,
  'type': 'VIDEO',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/gwPCM55H_rPjGtN9by0eFQ--~B/aD0zMzc4O3c9NjAwMDthcHBpZD15dGFjaHlvbg--/https://s.yimg.com/os/creatr-uploaded-images/2024-10/b279fa50-92e1-11ef-ae41-2b12113be330',
     'width': 6000,
     'height': 3378,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/.qVKB0naFurlLJzVGsyX3w--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://s.yimg.com/os/creatr-uploaded-images/2024-10/b279fa50-92e1-11ef-ae41-2b12113be330',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['NVDA', 'AMZN', 'GOOG', 'META', 'MSFT', 'AAPL', 'TSLA']},
 {'uuid': '42cfb659-1a21-3ad7-b04f-df9d510f5ba1',
  'title': "Can Microsoft's AI, Cloud Power Overcome Spending Worries, Drive MSFT Stock Higher?",
  'publisher': 'Benzinga',
  'link': 'https://finance.yahoo.com/news/microsofts-ai-cloud-power-overcome-162319586.html',
  'providerPublishTime': 1729873399,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/ZEQ7oVnpEDsc.zHOW4YaRg--~B/aD01NzU7dz0xMDIyO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/Benzinga/4c537d3fc909d7a2d3e013a4d7de12e4',
     'width': 1022,
     'height': 575,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/JrOILbTSEtqT06KaE1QfkQ--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/Benzinga/4c537d3fc909d7a2d3e013a4d7de12e4',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['MSFT']},
 {'uuid': '1f603733-3a76-3f74-b6b6-035d521cb620',
  'title': 'Microsoft Stock Before Q1 Earnings: Buy Now or Wait for Results?',
  'publisher': 'Zacks',
  'link': 'https://finance.yahoo.com/news/microsoft-stock-q1-earnings-buy-161300203.html',
  'providerPublishTime': 1729872780,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/L4VQ5EfUwz2KrL9KvDeP7g--~B/aD00MDA7dz02MzU7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/zacks.com/5d091b3e912681bbeabff8c176ea70a1',
     'width': 635,
     'height': 400,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/hPlDuikhzXQWl9Utt6ME3A--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/zacks.com/5d091b3e912681bbeabff8c176ea70a1',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['MSFT']}]